<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
</head>
<body>
    
<div class="container">
    <form action="." method="POST">{% csrf_token %}
        <h2>Are you sure you want to delete entry item "{{ instance.item }}"?</h2>

      <p><input type="submit" value="Yes"/>  <a href="../"><button type="button" class="btn btn-success">Cancel</button></a></p>



    </form>
</div>
    
</body>
</html>