{% extends "entries/base.html" %}
{% load i18n %}
{% load humanize %}
{% load crispy_forms_tags %}


{% block head_title %}{% trans "Update" %}{% endblock %}
{% block header %}
  <div class="navbar navbar-expand-sm navbar-light bg-light">
    <div class="container">
         <div>
          <div class="dropdown">
            <button class="btn btn-outline-success dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                {{ current_user.email }}
            </button>

            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item" href="{% url 'account_change_password' %}">Change Password</a>
               
                <a class="dropdown-item" href="{% url 'account_logout' %}?next=/accounts/login/">Logout</a>
            
        </div>
        <a href="{% url 'entries:entries' %}"><button type="button" class="btn btn-success">Entries</button></a>
    </div>
        </div>
    </div>
</div>
{% endblock %}
{% block content %}
<div class="container">
  <form action='' method=POST>{% csrf_token %}
    <div class="form-group">
    {{ form|crispy }}
    
    <button type="submit" class="btn btn-success">Update</button>
    <a href="/entries/{{ instance.id }}/delete/"><button type="button" class="btn btn-outline-danger">Delete</button></a>

  </div>
</form>
</div>
{% endblock %}


 